body {
  background-color: cadetblue;
}

input {
  padding: 20px;
  border-radius: 50px;
  margin-top: 20px;
  border-color: darkcyan;
  border-width: 3px;
  margin-right: 10px;
  width: 10%;
}

button {
  padding: 15px;
  border-radius: 50px;
  margin-top: 20px;
  border-color: coral;
  border-width: 3px;
  margin-right: 5px;
  width: 7%;
  background-color: lightcoral;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
